## Boolean Data Types

In [1]:
x = True
y = False

In [2]:
print(x)

True

In [3]:
print(y)

False

In [4]:
print(type(x))

<class 'bool'>

In [5]:
print(type(y))

<class 'bool'>

In [6]:
#Be mindful about the Camelcase
z = true
print(z)

NameError: name 'true' is not defined

## Strings

*collection of one or more characters put in single, double or triple quotes*

In [7]:
a = 'hello'
print(a)
print(type(a))

hello
<class 'str'>

In [8]:
b = "world"
print(b)
print(type(b))

world
<class 'str'>

In [9]:
c = """SAP"""
print(c)
print(type(c))

SAP
<class 'str'>

*We use tripe single quotes or triple double quotes when we want to create a Multi-Line String*

In [10]:
d = """This is line 1,
This is line 2,
This is line 3"""

print(d)
print(type(d))

This is line 1,
This is line 2,
This is line 3
<class 'str'>

In [11]:
d = "This is line 1,
This is line 2,
This is line 3"

print(d)
print(type(d))

SyntaxError: EOL while scanning string literal (<ipython-input-11-4ae4eb38e928>, line 1)

In [12]:
e = '''This is line 1,
This is line 2,
This is line 3'''

print(e)
print(type(e))

This is line 1,
This is line 2,
This is line 3
<class 'str'>

## Python Lists

*An ordered collection of one or more data items, not necessarily of the same data type, each element is separated by a comma & the entire list elements enclosed within square brackets*

In [13]:
py_list1 = [1,2,3,4,5,6,7,8]
print(py_list1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
print(type(py_list1))

<class 'list'>

In [15]:
py_list2 = ['apple', 'mango', 'tomato', 'banana']
print(py_list2)
print(type(py_list2))

['apple', 'mango', 'tomato', 'banana']
<class 'list'>

In [16]:
#List containing elements of various data types
py_list3 = [20,55.5,"Jaunary",3+2j,'February',"""March"""]
print(py_list3)
print(type(py_list3))

[20, 55.5, 'Jaunary', (3+2j), 'February', 'March']
<class 'list'>

## Python Tuples
*An ordered collection of one or more data items, not necessarily of the same data type, each element is separated by a comma & the entire tuple elements enclosed within parentheses*

In [17]:
ex_tuple1 = (1,2,3,4,5,6,7,8)
print(ex_tuple1)
print(type(ex_tuple1))

(1, 2, 3, 4, 5, 6, 7, 8)
<class 'tuple'>

In [18]:
ex_tuple2 = ('apple', 'mango', 'tomato', 'banana')
print(ex_tuple2)
print(type(ex_tuple2))

('apple', 'mango', 'tomato', 'banana')
<class 'tuple'>

In [19]:
#Tuple containing elements of various data types
ex_tuple3 = (20,55.5,"Jaunary",3+2j,'February',"""March""")
print(ex_tuple3)
print(type(ex_tuple3))

(20, 55.5, 'Jaunary', (3+2j), 'February', 'March')
<class 'tuple'>

### Activity 4:
- Create a Python list & a Python tuple which contains 
    1. Natural Numbers between 20 to 25
    2. Months in a calander year