## Python Dictionaries
*Used to store data values in key:value pairs*

In [1]:
#Key & Value can be of any data type
my_email = {"Phil": "phil@gmail.com",
             "Jay" : "jay@gmail.com",
             "Gloria": "gloria@gmail.com",
             "Claire": "claire@yahoo.com",
             "Cameron": "cameron@yahoo.com"}
print(my_email)
print(type(my_email))

{'Phil': 'phil@gmail.com', 'Jay': 'jay@gmail.com', 'Gloria': 'gloria@gmail.com', 'Claire': 'claire@yahoo.com', 'Cameron': 'cameron@yahoo.com'}
<class 'dict'>

In [2]:
ex_dict1= {1 : 50, 
           2 : 60, 
           3 : 70,
           4 : 80}
print(ex_dict1)
print(type(ex_dict1))

{1: 50, 2: 60, 3: 70, 4: 80}
<class 'dict'>

In [3]:
ex_dict2 = {10 : "John",
            20 : "Jacob",
            30 : "Jack"}
print(ex_dict2)
print(type(ex_dict2))

{10: 'John', 20: 'Jacob', 30: 'Jack'}
<class 'dict'>

In [6]:
ex_dict3 = {"Phil" : 25,
            100 : 28,
            "Claire" : 50+6j}
print(ex_dict3)
print(type(ex_dict3))

{'Phil': 25, 100: 28, 'Claire': (50+6j)}
<class 'dict'>

## Sets in Python
*unordered collection of elements*

In [7]:
ex_set1 = {50,60,70,80,90,100}
print(ex_set1)
print(type(ex_set1))

{100, 70, 80, 50, 90, 60}
<class 'set'>

In [8]:
ex_set2 = {50,5.52 , "Jack",3.14+4j}
print(ex_set2)
print(type(ex_set2))

{50, 'Jack', 5.52, (3.14+4j)}
<class 'set'>

## Activity

#### Create a Python Dictionary by referring the below key - value pairs :

|Key | Value | 
|---:|:-------------|
| 1 | 100  | 
| 2 | 200  | 
| 3 | 300  | 
| 4 | 400  | 
| 5 | 500  |

2.

|Key | Value | 
|---:|:-------------|
| Phil | Google  | 
| Claire | Yahoo  | 
| Gloria | AOL  | 
| Jay | Live  |

### Create a Python set :
1. contains natural numbers between 1 to 10
2. Months in a calander year