### Implicit Casting

In [1]:
#Automatically changes the data type to higher data type

a = 100
print("Data Type of a is:",type(a))
b = 2.5
print("Data Type of b is:",type(b))
div = a/b
print("Division is:",div)
print("Data Type of div is:",type(div))

Data Type of a is: <class 'int'>
Data Type of b is: <class 'float'>
Division is: 40.0
Data Type of div is: <class 'float'>

In [2]:
a = 500
print("Data Type of a is:",type(a))
b = 2+2j
print("Data Type of b is:",type(b))
div = a/b
print("Division is:",div)
print("Data Type of div is:",type(div))

Data Type of a is: <class 'int'>
Data Type of b is: <class 'complex'>
Division is: (125-125j)
Data Type of div is: <class 'complex'>

### Explicit Casting

*Use inbuilt data types as functions to convert the values*

Common ones are:
- int
- float
- complex
- list
- tuple
- set
- dict

In [3]:
#Convert the float to integers
x = 3.33
print(type(x))
y = int(x)  #convert to integers
print("y is : {} , data typs is : {}".format(y,type(y)))

<class 'float'>
y is : 3 , data typs is : <class 'int'>

In [4]:
#Convert the float to strings
x = 3.33
print(type(x))
y = str(x)  #convert to strings
print("y is : {} , data typs is : {}".format(y,type(y)))

<class 'float'>
y is : 3.33 , data typs is : <class 'str'>

In [5]:
#Convert the int to strings
x = 3
print(type(x))
y = str(x)  #convert to strings
print("y is : {} , data typs is : {}".format(y,type(y)))

<class 'int'>
y is : 3 , data typs is : <class 'str'>

In [6]:
#Convert the complex to strings
x = 5 + 6j
print(type(x))
y = str(x)  #convert to strings
print("y is : {} , data type is : {}".format(y,type(y)))

<class 'complex'>
y is : (5+6j) , data type is : <class 'str'>

In [7]:
#Convert the strings to complex
x = "55.25"
print("x is : {} , data type is : {}".format(x,type(x)))
y = complex(x)  #convert to complex
print("y is : {} , data type is : {}".format(y,type(y)))

x is : 55.25 , data type is : <class 'str'>
y is : (55.25+0j) , data type is : <class 'complex'>

In [8]:
#Convert the strings to integers
x = "50"
print("x is : {} , data type is : {}".format(x,type(x)))
y = int(x)  #convert to integer
print("y is : {} , data type is : {}".format(y,type(y)))

x is : 50 , data type is : <class 'str'>
y is : 50 , data type is : <class 'int'>

In [9]:
#Some type conversion is not allowed
x = "hello"  #This is a string
print("x is : {} , data type is : {}".format(x,type(x)))
y = int(x)  #convert to integer
print("y is : {} , data type is : {}".format(y,type(y)))

x is : hello , data type is : <class 'str'>

ValueError: invalid literal for int() with base 10: 'hello'

In [10]:
#convert from list to tuple
ex_list = [10,20,30,40,50]
print("ex_list is : {} , data typs is : {}".format(ex_list,type(ex_list)))
ex_tuple = tuple(ex_list)
print("ex_tuple is : {} , data type is : {}".format(ex_tuple,type(ex_tuple)))

ex_list is : [10, 20, 30, 40, 50] , data typs is : <class 'list'>
ex_tuple is : (10, 20, 30, 40, 50) , data type is : <class 'tuple'>

In [11]:
#convert from list to set
ex_list = [10,20,30,40,50]
print("ex_list is : {} , data typs is : {}".format(ex_list,type(ex_list)))
ex_set = set(ex_list)
print("ex_set is : {} , data type is : {}".format(ex_set,type(ex_set)))

ex_list is : [10, 20, 30, 40, 50] , data typs is : <class 'list'>
ex_set is : {40, 10, 50, 20, 30} , data type is : <class 'set'>

In [12]:
#convert from set to tuple
ex_set = {10,20,30,40,50}
print("ex_set is : {} , data type is : {}".format(ex_set,type(ex_set)))
ex_tuple = tuple(ex_set)
print("ex_tuple is : {} , data type is : {}".format(ex_tuple,type(ex_tuple)))

ex_set is : {40, 10, 50, 20, 30} , data type is : <class 'set'>
ex_tuple is : (40, 10, 50, 20, 30) , data type is : <class 'tuple'>