### Create a Python set with your name, age & date of birth

In [1]:
py_set1 = {"jacob",29,"20-Jan-1991"}

In [2]:
py_set1

{'20-Jan-1991', 29, 'jacob'}

### Add your country name to the Python set - use (add)

In [3]:
py_set1.add("India")

In [4]:
py_set1

{'20-Jan-1991', 29, 'India', 'jacob'}

### Add your Education , Specialization, CGPA/Grades/Percentage - Use update() method

In [5]:
py_set1.update(["ME", "Physics", 9.42])

In [6]:
py_set1

{'20-Jan-1991', 29, 9.42, 'India', 'ME', 'Physics', 'jacob'}

### how many items do we have in a set ?

In [7]:
len(py_set1)

7

### Activity: Try adding your name again, and see whether new element has been added

In [8]:
py_set1

{'20-Jan-1991', 29, 9.42, 'India', 'ME', 'Physics', 'jacob'}

In [9]:
py_set1.add('jacob')

In [10]:
py_set1

{'20-Jan-1991', 29, 9.42, 'India', 'ME', 'Physics', 'jacob'}

# Operations in Sets

### Create two sets as:
set_1 = {1,2,3,4,5,6,7,8}

set_2 = {2,4,6,8,10,12,14,16}

In [3]:
set_1 = {1,2,3,4,5,6,7,8}

set_2 = {2,4,6,8,10,12,14,16}

In [4]:
print(set_1)

{1, 2, 3, 4, 5, 6, 7, 8}

### Perform Union

In [30]:
set_1.union(set_2)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 14, 16}

In [31]:
set_1

{1, 2, 3, 4, 5, 6, 7, 8}

In [32]:
set_2

{2, 4, 6, 8, 10, 12, 14, 16}

### Perform Intersection

In [33]:
set_1.intersection(set_2)

{2, 4, 6, 8}

### Perform set_1 - set_2 (use difference method)

In [34]:
set_1.difference(set_2)

{1, 3, 5, 7}

### Perform set_2 - set_1 (use difference method)

In [35]:
set_2.difference(set_1)

{10, 12, 14, 16}

### Create a set as set_3 = {1,2,3,4,5,6,......16}

In [36]:
set_3 = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16}

### Check if set_3 is superset of set_1

In [37]:
set_3.issuperset(set_1)

True

### Check if set_3 is superset of set_2

In [38]:
set_3.issuperset(set_2)

True

### Check if set_1 is subset of set_3

In [39]:
set_1.issubset(set_3)

True

### Create set_4 = {1,3,5,7}

In [41]:
set_4 = {1,3,5,7}

### Check set_4 is disjoint with set_2

In [42]:
set_2

{2, 4, 6, 8, 10, 12, 14, 16}

In [43]:
set_4.isdisjoint(set_2)

True

### Explore discard & remove

In [44]:
set_3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

In [45]:
set_3.remove(10)

In [46]:
set_3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16}

In [47]:
set_3.discard(5)

In [48]:
set_3

{1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16}

In [49]:
set_3.remove(20)
set_3

KeyError: 20

In [50]:
set_3.discard(20)
set_3

{1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16}

    Explore the other functions like:
    
    - difference_update()
    - intersection_update()
    - symmetric_difference()
    - symmetric_difference_update()
    - pop()

# Activity

1. Add a list of elements to a given set

    `ex_Set = {"Yellow", "Orange", "Black"}`
    
    `ex_List = ["Blue", "Green", "Red"]`

2. Return a set of identical items from a given two Python set
    
    `set1 = {50, 40, 30, 20, 10}`
    
    `set2 = {30, 40, 50, 60, 70}`
    
    *Expected output:*

    `{40, 50, 30}`

3. Return a set with all items from both sets by removing duplicates

`set1 = {50, 40, 30, 20, 10}`

`set2 = {30, 40, 50, 60, 70}`

*Expected output:* (Order does not matter in the output)

`{10,20,30,40,50,60,70}`