### Create a Python list with 5 elements

In [1]:
py_list = [20,40,60,80,100]

### Return the last element using negative indexing

In [2]:
py_list[-1]

100

### Return the last 3rd element using negative indexing

In [3]:
py_list[-3]

60

In [4]:
py_list[-4:-1]

[40, 60, 80]

In [5]:
py_list

[20, 40, 60, 80, 100]

In [6]:
py_list[-5:-1:2]

[20, 60]

### Use the Escape charater to print strings in 2 lines

In [8]:
print("Hello \n World")

Hello
 World

### Use the Escape charater to add tab spaces

In [11]:
#\t
print("Welcome\tTo\tDataScience")

Welcome	To	DataScience

In [15]:
print("hello\nworld")

hello
world